In [8]:
import asyncio

async def count():
    print("One")
    await asyncio.sleep(1)
    print("Two")

async def main():
    await asyncio.gather(count(), count(), count())

In [9]:
await asyncio.gather(count(), count(), count())

One
One
One
Two
Two
Two

[None, None, None]

In [13]:
async def hola():
    print("Hola")

In [14]:
await asyncio.gather(count(), count(), count(), hola())

One
One
One
Hola
Two
Two
Two

[None, None, None, None]

In [23]:
import pandas as pd
#<html><head></head><body> </body></html>
tabla = "<table><thead><tr><th>Nombre</th><th>RUT</th><th>Sexo</th><th>Dirección</th><th>Ciudad/Comuna</th></tr></thead><tbody><tr><td>Monsalve Candia Luis Ignacio</td><td>16.907.387-2</td><td>VAR</td><td>Av.portales 2608 Depto 15 Pob.o Higgins</td><td>Maipu Poniente</td></tr></tbody></table>"
pd.read_html(tabla)[0].head()

,Nombre,RUT,Sexo,Dirección,Ciudad/Comuna
0,Monsalve Candia Luis Ignacio,16.907.387-2,VAR,Av.portales 2608 Depto 15 Pob.o Higgins,Maipu Poniente

In [32]:
data1 = pd.read_html(tabla)[0]
data2 = pd.read_html(tabla)[0]
dataBool =data1 == data2

In [34]:
for i in dataBool["Nombre"]:
    print(i)

True