In [24]:
import pandas as pd
import numpy as np

from os import scandir, getcwd

def ls(ruta = getcwd()):
    return [arch.name for arch in scandir(ruta) if arch.is_file()]

ruta = "GrupoControl/"
for i in ls(ruta):
    #pd.read_csv(ruta + i).head(2).to_csv(ruta +i, index=False)
    print(i)
    
    
#pd.read_excel("covid19_chile.xlsx").to_csv("covid19_chile.csv", index=False)

acumulado.csv
covid-19-tests-country.csv
covid-19-total-confirmed-cases-vs-total-tests-conducted.csv
covid19_chile.csv
covid19_chile.xlsx
Current_Coronavirus_Cases_and_Deaths.csv
daily-cases-covid-19.csv
ecdc_europa.csv
full-list-total-tests-for-covid-19.csv
hospital-beds-per-1000-people.csv
physicians-per-1000-people.csv
share-of-the-population-that-is-70-years-and-older.csv
total-cases-covid-19.csv
total-daily-covid-deaths-per-million.csv
total-deaths-covid-19.csv
ultimoRegistro.csv
worldometers.csv

In [11]:
str(total)

'1374564'

In [23]:
pd.read_excel(ruta + "covid19_chile.xlsx").to_csv(ruta +"covid19_chile.csv", index=False)

In [25]:
lista = [
    "acumulado.csv",
    "covid-19-tests-country.csv",
    "covid-19-total-confirmed-cases-vs-total-tests-conducted.csv",
    "covid19_chile.csv",
    "Current_Coronavirus_Cases_and_Deaths.csv",
    "daily-cases-covid-19.csv",
    "ecdc_europa.csv",
    "full-list-total-tests-for-covid-19.csv",
    "hospital-beds-per-1000-people.csv",
    "physicians-per-1000-people.csv",
    "share-of-the-population-that-is-70-years-and-older.csv",
    "total-cases-covid-19.csv",
    "total-daily-covid-deaths-per-million.csv",
    "total-deaths-covid-19.csv",
    "ultimoRegistro.csv",
    "worldometers.csv",
]

In [26]:
def verificarColumnas(data, referencia):
    ruta = "GrupoControl/"
    df = data
    ref = pd.read_csv(ruta + referencia)
    existe = False
    columna = 0    
    #Eliminar Columnas que sobran    
    for col in df.columns:        
        for colRef in ref.columns:
            if col == colRef:
                #print("existe la columna" + col)
                existe = True
        if existe == False:
            del df[col]
            #df.to_csv(csvPorVerificar, index = False)
            print("se Eliminó la columna " + col)
        existe = False   
    #Agregar columnas faltantes    
    for colRef in ref.columns:        
        for col in df.columns:
            if col == colRef:
                #print("existe la columna" + col)
                existe = True
        if existe == False:
            df.insert(columna,colRef,'')
            #df.to_csv(csvPorVerificar, index = False)
            print("se agregó la columna " + colRef)
        columna+=1
        existe = False
    return df

In [27]:
verificarColumnas(pd.read_csv("Prueba-Current_Coronavirus_Cases_and_Deaths.csv"),"Current_Coronavirus_Cases_and_Deaths.csv").head()

se Eliminó la columna NAME
se Eliminó la columna COUNTRY
se Eliminó la columna ISO_CODE
se Eliminó la columna ISO_CC
se Eliminó la columna ADMINTYPE
se Eliminó la columna COUNTRYAFF
se Eliminó la columna CONTINENT
se Eliminó la columna LAND_TYPE
se Eliminó la columna Confirmed
se Eliminó la columna Deaths
se Eliminó la columna x
se Eliminó la columna y
se Eliminó la columna ObjectId
se agregó la columna dateRep
se agregó la columna day
se agregó la columna month
se agregó la columna year
se agregó la columna cases
se agregó la columna deaths
se agregó la columna countriesAndTerritories
se agregó la columna geoId
se agregó la columna countryterritoryCode
se agregó la columna popData2018

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,,,,,,,,,,
1,,,,,,,,,,
2,,,,,,,,,,
3,,,,,,,,,,
4,,,,,,,,,,

In [28]:
pd.read_csv("Prueba-Current_Coronavirus_Cases_and_Deaths.csv").head()

,NAME,COUNTRY,ISO_CODE,ISO_CC,ADMINTYPE,COUNTRYAFF,CONTINENT,LAND_TYPE,Confirmed,Deaths,x,y,ObjectId
0,New York,United States,https://www.worldometers.info/coronavirus/coun...,United States,NaN,United States,NaN,Primary land,NaN,4159,-75.694636,43.016757,1
1,Unknown Locations,France,https://www.bfmtv.com/sante/en-direct-coronavi...,FR,NaN,France,NaN,Primary land,NaN,5477,2.502782,48.711032,2
2,Hubei,China,https://3g.dxy.cn/newh5/view/pneumonia?scene=2...,CN,NaN,China,NaN,Primary land,NaN,3212,112.273694,30.980507,3
3,Lombardia,Italy,https://twitter.com/RvanderDonk1/status/123710...,IT,NaN,Italy,NaN,Primary land,NaN,8905,9.769320,45.625139,4
4,England,United Kingdom,https://www.gov.uk/guidance/coronavirus-covid-...,GB,NaN,United Kingdom,NaN,Primary land,NaN,4494,-1.465023,52.659740,5

In [32]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import json  
import codecs
import pandas as pd
import os
import shutil
from datetime import datetime, timedelta, date
from selenium.webdriver.firefox.firefox_profile import FirefoxProfile
from selenium.webdriver.firefox.options import Options
from os import remove
import git
import datetime
import numpy as np

def cambiaFecha(texto):
    if(type(texto) == datetime):
        return texto.strftime("%m-%d-%Y")
    else:
        return texto

In [33]:
url_chile = "https://raw.githubusercontent.com/ivanMSC/COVID19_Chile/master/covid19_chile.csv"
pd.read_csv(url_chile).to_csv("Chile/covid19_chile.csv", index=False)
url_comunas = "https://raw.githubusercontent.com/ivanMSC/COVID19_Chile/master/covid19_comunas.csv"
pd.read_csv(url_chile).to_csv("Chile/covid19_comunas.csv", index=False)
url_old = "https://raw.githubusercontent.com/ivanMSC/COVID19_Chile/master/old/covid19_chile.csv"
pd.read_csv(url_chile).to_csv("Chile/covid19_chile_old.csv", index=False)    
#data = pd.read_excel("Chile/covid19_chile.xlsx")
data = pd.read_excel("Chile/covid19_chile.xlsx", sheet_name="Sheet1")
try:
    del data["Unnamed: 14"]
    del data["Unnamed: 15"]
    del data["Unnamed: 16"]
except:
    pass

data["Fecha"] = data["Fecha"].apply(cambiaFecha)
verificarColumnas(data,"covid19_chile.csv").to_csv("covid19_chile.csv", index=False)

se Eliminó la columna ID
se Eliminó la columna Fecha
se Eliminó la columna Region_Numero
se Eliminó la columna País
se Eliminó la columna Region
se Eliminó la columna Sexo
se Eliminó la columna Edad
se Eliminó la columna Centro_de_Salud
se Eliminó la columna Comuna
se Eliminó la columna lat
se Eliminó la columna lon
se Eliminó la columna Tipo_de_caso
se Eliminó la columna lat_comuna
se Eliminó la columna lon_comuna
se agregó la columna Etiquetas de fila

In [34]:
data

     Etiquetas de fila
0
1
2
3
4
...                ...
5567
5568
5569
5570
5571

[5572 rows x 1 columns]

In [35]:
data = pd.read_excel("Chile/covid19_chile.xlsx")

In [36]:
data

    Etiquetas de fila
0           Algarrobo
1         Antofagasta
2              Arauco
3      Cabo de Hornos
4             Cabrero
..                ...
100     Villa Alemana
101      Viña del Mar
102          Vitacura
103       (en blanco)
104     Total general

[105 rows x 1 columns]